#root {
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .trigger:hover {
    color: #1890ff;
  }

  .ant-layout-sider-children {
    min-height: 100vh;
  }
  .ant-menu-inline-collapsed,
  .ant-menu-inline {
    .ant-menu-item {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .site-layout {
    .site-layout-background {
      background: #fff;
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  // Akvo React Form Editor
  .arfe-container {
    font: inherit;
    font-size: inherit;
  }
}
